.main-header {
    background: linear-gradient(to right, #00f2fe, #0fd850);
    color: #fff;
    padding: var(--space-sm) var(--space-lg);
    margin: 16px;
    height: 60px;
    border-radius: 9999px;
    box-sizing: border-box;
    box-shadow:
        inset 0 8px 24px rgba(255, 255, 255, .06),
        0 6px 18px rgba(0, 0, 0, .25);
}