.tag-list {
    background: #5a5a5a;
    border-radius: 9999px;
    padding: 6px 16px;
    gap: 12px;
}

.tag {
    color: #d1d1d1;
    font-size: 1rem;
    cursor: pointer;
    user-select: none;
    transition: color .2s ease;
}

.tag:hover,
.tag.active {
    color: #fff;
}

.tag.active {
    font-weight: bold;
}