/* MOBILE (max-width: 900px) */
@media (max-width: 900px) {
    .main-nav:not(.main-nav--simple) {
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        background: var(--clr-primary);
        display: grid;
        grid-template-rows: 0fr;
        align-items: end;
        overflow: hidden;
        transition: grid-template-rows .3s ease;
        z-index: 10;
    }

    .main-nav:not(.main-nav--simple)>ul {
        flex-direction: column;
        overflow: hidden;
    }

    .main-nav:not(.main-nav--simple) li {
        width: 100%;
    }

    body.menu-open .main-nav:not(.main-nav--simple) {
        grid-template-rows: 1fr;
    }
}

/* SMALL SCREENS (min-width: 640px) */
@media (min-width: 640px) {
    .main-layout {
        grid-template-columns: minmax(16px, 1fr) minmax(auto, 600px) minmax(16px, 1fr);
    }
}

/* MEDIUM SCREENS (min-width: 768px) */
@media (min-width: 768px) {
    .main-layout {
        grid-template-columns: minmax(16px, 1fr) minmax(auto, 860px) minmax(16px, 1fr);
    }

    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* DESKTOP (min-width: 900px) */
@media (min-width: 900px) {
    .main-nav:not(.main-nav--simple) .main-nav-list a {
        display: block;
        width: 100px;
        text-align: center;
    }
}

/* TABLET LANDSCAPE (min-width: 900px and max-width: 1100px) */
@media (min-width: 900px) and (max-width: 1100px) {
    html {
        font-size: 14px;
    }
}

/* LARGE DESKTOP (min-width: 1100px) */
@media (min-width: 1100px) {
    .main-layout {
        grid-template-columns: minmax(16px, 1fr) minmax(auto, 1060px) minmax(16px, 1fr);
    }

    .main-nav:not(.main-nav--simple) .main-nav-list a {
        width: 130px;
        height: 130px;
    }
}